<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-general.html}" lang="pl" >
<head>
    <title th:text="${activePage.getDescription()}">page name</title>
</head>
<body>
<section layout:fragment="content">
    <h3 class="py-3 " style="color: black">Wartości VAZZA!</h3>
    <h4><img src="../static/src/values1.png" style="width: 800px; display: block; margin-left: auto; margin-right: auto" th:src="@{/src/values1.png}">
    </h4>
</section>
</body>
</html>